@keyframes ghuroChagol {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
body{
    background-color:rgb(10, 8, 35) ;
}
.body{
    background-color: rgb(10, 8, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.chagol{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: wheat;
    box-shadow: 0 0 0px 110px brown;
    border: 0;
    /* position: relative; */
    
    animation: ghuroChagol 5s 1 ease;
}
#two{
    transform: perspective(180deg);
}
p{
    font-size: 40px;
    margin: 10px;
    padding-top: 0px;
}
.grass{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    /* background-color: black; */
    position: absolute;
    bottom: 50px;
    left: 350px;
}
.border{
    border: 2px solid rebeccapurple;
    
}
img{
    height: 400px;
    width: 400px;
}
@media only screen and (max-width:688px) {
    body{
        height: auto;
    }
    .chagol{
    height: 150px;
    width: 150px;
    box-shadow: 0 0 0px 40px brown;



    }
    .grass{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: auto;
        /* background-color: black; */
        position: absolute;
        bottom: 170px;
        left: 100px;
    }
    #one,#two{
        height: 140px;
    }
    .matha{
        height: 150px ;
        width: 150px;
    }









}